html {
    height: 100% !important;
}
ul li{
    list-style: none;
}
body div {
    font-size: 14px;
    margin: 0;
    padding: 0;

}
body{
    width: 1008px;
    margin: 0 auto;
    background: url("../img/bg.png");
    height: 100%;
    background-repeat:no-repeat;
    background-size: 1008px;
    background-position:center 0;
}
/*头部*/
.header{
    width: 100%;
    height: 300px;
}
.header .bg{

    width: 100%;
    margin: auto 0;
}
.container{
    height: 250px;
}
.lg03{
    position:relative;
    left: 50px;
    top:50px;

}
.lg08{
    position:relative;
    left: 120px;
    top:80px;
}
/*导航栏*/
.banner{
    width: 100%;
    height: 35px;
}
.banner ul{
    width: 700px;
    height: 35px;
    margin:0 auto;
}
.banner li{
    display: block;
    float: left;
}
/*主内容*/
.main-box {
    width: 1008px;
    height: 1900px;
}
.jl-logo{
    width: 100%;
    height: 100px;
    text-align: center;
}
.jl-main{
    width: 1008px;
    height: 334px;
}
.jl-main-left{
    float: left;
    width: 418px;
    height: 334px;
    background: url("../img/images/mian_left.jpg");
}
.jl-main-left img{
    position: relative;
    left: 232px;
    top: 38px;
}
.jl-main-right{
    float: left;
    width: 590px;
    height: 334px;
    background: url("../img/images/mian_right.jpg");
}
.jl-main-text{
    position: relative;
    left:40px;
    top: 50px;
    width: 316px;
    height: 208px;
}
.jl-main-text p{
    font-size: 15px;
    color:#a4163e;
    font-family: '微软雅黑 Regular', serif;
    text-indent: 2em;
}
.jn-main{
    margin-top: 50px;
    width: 100%;
    height: 250px;
    background-color: #ffffff;

}
.jn-main ul{
    list-style: none;
    margin: 0 auto;
    width: 620px;
    height: 220px;
    top:20px;
    position: relative;

}
.jn-main li{
    list-style: none;
    width: 142px;
    height: 200px;
    float: left;
    margin-right:10px;
    text-align: center;
    line-height:24px;
    color:#f385a5;
    font-family: '微软雅黑 Regular', serif;
    font-size: 15px;
    font-weight:bold;
}
.zp-main-box{
    margin-top: 50px;
    width: 100%;
    height: 567px;
    background: url("../img/images/main-box.png");
}
.zp-main{
    width: 650px;
    height: 460px;
    margin: auto;
    top: 60px;
    position: relative;
}
.zp-main ul{
    list-style: none;
}
.zp-main li{
    list-style: none;
    float: left;
    margin-right: 10px;
    margin-top: 30px;
}
.zp-main-box h3{
    font-size: 17px;
    color:#f385a5;
    font-family: '微软雅黑 Regular', serif;
    text-indent: 2em;
    font-weight: bold;
    text-align: center;
}
.ly-main{
    position: relative;
    top: 80px;
    height: 236px;
    background-color: #f7eef3;
}
.ly-main-form{
    position: relative;
    left: 230px;
}
.ly-main-form h3{
    position: relative;
    top: 10px;
    font-size: 17px;
    color:#f385a5;
    font-family: '微软雅黑 Regular', serif;
    font-weight: bold;
}
.ly-name{
    width: 246px;
    height: 26px;
    border: 0 none;
    text-indent: 2em;
}
.ly-main-form-left{
    float: left;
    margin-right: 50px;
}
.ly-main-form-right{
    float: left;
}
.ly-text{
    margin-top: 30px;
    width: 542px;
    height: 60px;
    border: 0 none;
}
.btn-tj{
    width: 100%;
    height: 50px;
}
.btn-tj input{
    border: 0;
    border-radius: 3px;
    position: relative;
    left: 230px;
    top:20px;
}
.footer{
    width: 100%;
    height: 150px;
    background-color:#eccade ;
}
.footer ul{
    width: 300px;
    height: 50px;
    margin: 66px auto;
}
.footer li{
    position: relative;
    top: 100px;
    float: left;
    color: #ffffff;
    font-size:15px;
}
